<h2 class="mt-4 mb-5 text-center">Book Management System</h2>

<form
  class="container d-flex flex-column align-items-center"
  [formGroup]="bookForm"
  (ngSubmit)="onSubmit()"
>
  <div class="mb-3 field">
    <label for="titleInput" class="form-label">Title</label>
    <input
      type="text"
      class="form-control"
      id="titleInput"
      formControlName="title"
      required
    />
    <div
      *ngIf="bookForm.get('title')?.touched && bookForm.get('title')?.invalid"
    >
      <small
        class="text-danger"
        *ngIf="bookForm.get('title')?.errors?.['required']"
      >
        Title is required.
      </small>
      <small
        class="text-danger"
        *ngIf="bookForm.get('title')?.errors?.['minlength']"
      >
        Title must be at least 3 characters.
      </small>
      <small
        class="text-danger"
        *ngIf="bookForm.get('title')?.errors?.['maxlength']"
      >
        Title cannot exceed 50 characters.
      </small>
    </div>
  </div>

  <div class="mb-3 field">
    <label for="authorInput" class="form-label">Author</label>
    <input
      type="text"
      class="form-control"
      id="authorInput"
      formControlName="author"
      required
    />
    <div
      *ngIf="bookForm.get('author')?.touched && bookForm.get('author')?.invalid"
    >
      <small
        class="text-danger"
        *ngIf="bookForm.get('author')?.errors?.['required']"
      >
        Author is required.
      </small>
      <small
        class="text-danger"
        *ngIf="bookForm.get('author')?.errors?.['minlength']"
      >
        Author name must be at least 3 characters.
      </small>
      <small
        class="text-danger"
        *ngIf="bookForm.get('author')?.errors?.['maxlength']"
      >
        Author name cannot exceed 30 characters.
      </small>
    </div>
  </div>

  <button
    type="submit"
    class="btn btn-primary mt-3"
    [disabled]="bookForm.invalid"
  >
    Add Book
  </button>
</form>

<div *ngIf="books$ | async as books; else noBooks">
  <div *ngIf="books.length > 0" class="book-table-container mt-4">
    <h3 class="text-center"><b>Existing Books:</b></h3>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Title</th>
          <th>Author</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let book of books">
          <td>{{ book.title }}</td>
          <td>{{ book.author }}</td>
          <td>
            <button class="btn btn-danger btn-sm" (click)="removeBook(book.id)">
              Delete
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<ng-template #noBooks>
  <p class="text-center mt-4">No books available.</p>
</ng-template>
